<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Marionette Contact Manager</title>
    <link rel="stylesheet" type="text/css" href="assets/js/vendor/bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="assets/css/application.css">
  </head>
  <body>
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand">Contact Manager</a>
        </div>
      </div>
    </div>

    <div id="main-region" class="container">
      <p>Here is static content in the web page. You'll notice that it gets replaced by our app as soon as we start it.</p>
    </div>

    <div id="dialog-region"></div>

    <script type="text/template" id="contact-list-item">
      <td><%- firstName %></td>
      <td><%- lastName %></td>
      <td>
        <a href="#contacts/<%- id %>" class="btn btn-default btn-sm js-show">
          <span class="glyphicon glyphicon-eye-open"></span>
          Show
        </a>
        <a href="#contacts/<%- id %>/edit" class="btn btn-default btn-sm js-edit">
          <span class="glyphicon glyphicon-pencil"></span>
          Edit
        </a>
        <button class="btn btn-danger btn-sm js-delete">
          <span class="glyphicon glyphicon-remove"></span>
          Delete
        </button>
      </td>
    </script>

    <script type="text/template" id="contact-list">
      <thead>
        <tr>
          <th>First Name</th>
          <th>Last Name</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
      </tbody>
    </script>

    <script type="text/template" id="contact-view">
      <h1><%- firstName %> <%- lastName %></h1>
      <a href="#contacts/<%- id %>/edit" class="btn btn-default btn-sm js-edit">
        <span class="glyphicon glyphicon-pencil"></span>
        Edit this contact
      </a>
      <p><strong>Phone number:</strong> <%- phoneNumber %></p>
    </script>

    <script type="text/template" id="missing-contact-view">
      <div class="alert alert-danger">This contact does not exist!</div>
    </script>

    <script type="text/template" id="loading-view">
      <h1><%- title %></h1>
      <p><%- message %></p>
      <div id="spinner"></div>
    </script>

    <script type="text/template" id="contact-form">
      <h1>Edit <%- firstName %> <%- lastName %></h1>
      <form>
        <div class="form-group">
          <label for="contact-firstName">First name:</label>
          <input id="contact-firstName" class="form-control" name="firstName" type="text" value="<%- firstName %>"/>
        </div>
        <div class="form-group">
          <label for="contact-lastName">Last name:</label>
          <input id="contact-lastName" class="form-control" name="lastName" type="text" value="<%- lastName %>"/>
        </div>
        <div class="form-group">
          <label for="contact-phoneNumber">Phone number:</label>
          <input id="contact-phoneNumber" class="form-control" name="phoneNumber" type="text" value="<%- phoneNumber %>"/>
        </div>
        <button class="btn btn-primary js-submit">Save</button>
      </form>
    </script>

    <script type="text/javascript" src="assets/js/vendor/bower_components/jquery/dist/jquery.js"></script>
    <script type="text/javascript" src="assets/js/vendor/bower_components/json2/json2.js"></script>
    <script type="text/javascript" src="assets/js/vendor/bower_components/underscore/underscore.js"></script>
    <script type="text/javascript" src="assets/js/vendor/bower_components/backbone/backbone.js"></script>
    <script type="text/javascript" src="assets/js/vendor/bower_components/backbone.localstorage/backbone.localstorage.js"></script>
    <script type="text/javascript" src="assets/js/vendor/bower_components/marionette.backbone.syphon/lib/backbone.syphon.js"></script>
    <script type="text/javascript" src="assets/js/vendor/bower_components/backbone.marionette/lib/backbone.marionette.js"></script>
    <script type="text/javascript" src="assets/js/vendor/bower_components/spin.js/spin.js"></script>
    <script type="text/javascript" src="assets/js/vendor/bower_components/spin.js/jquery.spin.js"></script>

    <script type="text/javascript" src="assets/js/app.js"></script>
    <script type="text/javascript" src="assets/js/apps/config/storage/localstorage.js"></script>
    <script type="text/javascript" src="assets/js/apps/contacts/contacts_app.js"></script>
    <script type="text/javascript" src="assets/js/entities/contact.js"></script>
    <script type="text/javascript" src="assets/js/common/views.js"></script>
    <script type="text/javascript" src="assets/js/apps/contacts/list/list_view.js"></script>
    <script type="text/javascript" src="assets/js/apps/contacts/list/list_controller.js"></script>
    <script type="text/javascript" src="assets/js/apps/contacts/show/show_view.js"></script>
    <script type="text/javascript" src="assets/js/apps/contacts/show/show_controller.js"></script>
    <script type="text/javascript" src="assets/js/apps/contacts/edit/edit_view.js"></script>
    <script type="text/javascript" src="assets/js/apps/contacts/edit/edit_controller.js"></script>

    <script type="text/javascript">
      ContactManager.start();
    </script>
  </body>
</html>